<div id="loader" class="overlay">
    <div class="overlay__inner">
        <div class="overlay__content">
            <span class="spinner"></span>
            <div class="clearfix mb-15"></div>
            <span class="colorWhite">Processing, Please wait</span>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/vendor.bundle.base.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap4.js"></script>
<script src="/js/dataTables.select.min.js"></script>
<script src="/js/off-canvas.js"></script>
<script src="/js/FontAwesome/all.min.js"></script>
<script src="/js/hoverable-collapse.js"></script>
<script src="/js/template.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/todolist.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/Chart.roundedBarCharts.js"></script>
<script src="/js/general-scripts.js"></script>