<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    <%=title%>
</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/feather/feather.css">
<link rel="stylesheet" href="/css/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/css/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="/css/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/css/select.dataTables.min.css">
<link rel="stylesheet" href="/css/vertical-layout-light/style.css">
<link rel="stylesheet" href="/css/FontAwesome/all.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="shortcut icon" href="/images/favicon.png" />