<p>Hello there,</p>
<p>Thank you for registering with us. Your email verification code is <%=otp%>. This code is valid for next 10 minutes
        only.
</p>
<p>
    Sincerely,<br>
    Team Obodo Full Circle
</p>
<p><small style="color: #595959;">Never share your codes or otp with anyone.</small></p>